* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
}

body {
    height: 100vh;
    background-color: #ffa96396;
    padding-top: 100px; 
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.397);
    border: none;
    border-bottom: 2px solid #ff811b;
    padding: 10px;
}

form button {
    background-color: #ff811b;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #ff811b;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #ff811b;
}

footer {
    background-color: #ff811b;
    color: rgb(0, 0, 0);
    padding: 12px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container img {
    height: 36px;
    margin-top: 4px;
    mix-blend-mode: multiply;
}


